<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FolderCleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FolderCleaner.Properties.Settings>
            <setting name="ScanPath" serializeAs="String">
                <value>C:/Users/akoesters/Downloads</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>C:/Users/akoesters/Downloads/scanned</value>
            </setting>
            <setting name="DeleteZip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PathForPictures" serializeAs="String">
                <value>C:/Users/akoesters/Pictures</value>
            </setting>
            <setting name="PdfPath" serializeAs="String">
                <value>C:/Users/akoesters/Downloads/scanned/pdf</value>
            </setting>
            <setting name="WordPath" serializeAs="String">
                <value>C:/Users/akoesters/Downloads/scanned/word</value>
            </setting>
            <setting name="ExcelPath" serializeAs="String">
                <value>C:/Users/akoesters/Downloads/scanned/excel</value>
            </setting>
            <setting name="DaysUntilDeleting" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DDDPath" serializeAs="String">
                <value>C:/Users/akoesters/Downloads/scanned/ddd</value>
            </setting>
        </FolderCleaner.Properties.Settings>
    </userSettings>
</configuration>